body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color: tomato;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: rgb(244, 126, 106);
}

.form-heading {
  color: gold;
  font-family: fantasy;
}

.signup-form,
.login-form {

  padding: 40px 20px;
  margin-top: 50px;
  border-radius: 5px;
  width: 550px;
  font: 12px Arial, Helvetica, sans-serif;
  background: url(./bg.jpg) no-repeat left top;
  background-size: cover;
}

.form-control {
  background-color: rgb(238, 220, 168);
}

label {
  color: brown;
  font-weight: bold;
}

@media screen and (max-width: 768px) {

  .signup-form,
  .login-form {

    width: 60%;
  }

}

@media screen and (max-width: 630px) {

  .signup-form,
  .login-form {
    width: 90%;
  }

}