* {
    margin: 0;
    padding: 0;
}

.transaction-card {
    position: relative;
    width: 100%;
    background-color: #ddfff7;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
}

.transaction-card h4 {
    color: #006d77;
    font-size: 17px;
    font-weight: bold;
}

.transaction-category {
    color: rgb(3, 165, 165);
    font-weight: 500;
    font-size: 12px;
}

.transaction-date {
    color: #777;
    font-size: 13px;
}

.transaction-description {
    font-weight: 500;
    /* width: max-content; */
    padding: 5px;
    font-size: small;
    color: #edf6f9;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    background-color: #83c5be;
}

.delete-btn {
    position: absolute;
    right: 2px;
    top: 0px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    background-color: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
}

.delete-btn img {
    height: 25px;
    width: 25px;
}


@media screen and (max-width: 630px) {
    .transaction-card {
        padding-top: 5px;
    }

    .transaction-card h4 {
        font-size: 19px;
    }
}